footer.footer_section
    div.footer_container
        div.footer_links
            div.text_container
                h3 About 
                a(class="footer_text" href="#") Informacion de Aplicacion 
                a(class="footer_text" href="#") Documentacion de Proyecto  
            div.text_container
                h3 Contacto: 
                p Numero Telefónico : 2457891151
                p Direccion: Av Lorem Ipso,2345, Chile
                p Email: app@gmail.com
            div.text_container
                h3 Soporte 
                a(class="footer_text" href="#") FAQ 
                a(class="footer_text" href="#") Tickets
        div.footer_bot
            div.copyright
                p Todos los derechos reservados
            div.social_bar
                p redes sociales bar