footer(class= "h-48 w-1120 m-auto my-10 bg-blue-100")
    div(class="flex flex-col justify-center my-1 w-1120 h-48 gap-5")
        div(class="flex flex-row justify-center items-center gap-64 w-1120 h-20")
            div(class="w-40 h-20 flex fle-col flex-wrap gap-2")
                h3(class="font-bold underline") About : 
                a(class="text-xs" href="#") - Información de Aplicación 
                a(class="text-xs" href="#") - Documentación de Proyecto  
            div(class="w-48 h-20 flex fle-col flex-wrap gap-2")
                h3(class="font-bold underline") Contacto: 
                p(class="text-xs") - Número Telefónico : 2457891151
                p(class="text-xs") - Dirección: Av Lorem Ipso,2345, Chile
                p(class="text-xs") - Email: app@gmail.com
            div(class="w-16 h-20 flex fle-col flex-wrap gap-2")
                h3(class="font-bold underline") Soporte: 
                a(class="text-xs" href="#") - FAQ 
                a(class="text-xs" href="#") - Tickets
        div(class="flex flex-row items-center w-1120 h-16")
            div(class="w-800 h-16 flex flex-row justify-center items-center")
                p(class="font-bold")  © Todos los derechos reservados
            div(class="flex flex-row items-center p-3")
                img(src="/images/Social_Bar.png", alt="social_bar")