header
    div.navbar_container
        div.logo_container
            img(class = "logo" src = "", alt = "Logo")
        div.navbar
            div.menu_bar
            if loged == false
                nav.nav_container
                    div.menu_items
                        a(class = "menu_item5" href="/usuario/registro") Registro
                    div.mensaje_container
                        a(class = "menu_item6" href="#") #{welcome} 
                div.log_container
                        a(class = "menu_item7" href="/usuario/login") LogIn
            else if perfil == "usuario"
                nav.nav_container
                    div.menu_items
                        a(class = "menu_item3" href="/lista/list") Listas
                        a(class = "menu_item5" href="/usuario/registro") Registro
                    div.mensaje_container
                        a(class = "menu_item6" href="#") #{welcome} 
                div.log_container
                        a(class = "menu_item7" href="/usuario/logout") LogOut
            else
                nav.nav_container
                    div.menu_items
                        a(class = "menu_item1" href="/usuario/list") Usuarios
                        a(class = "menu_item2" href="/item/list") Items
                        a(class = "menu_item3" href="/lista/list") Listas
                        a(class = "menu_item4" href="/repositorio/list") Repositorio
                        a(class = "menu_item5" href="/usuario/registro") Registro
                    div.mensaje_container
                        a(class = "menu_item6" href="#") #{welcome} 
                div.log_container
                        a(class = "menu_item7" href="/usuario/login") LogIn
                div.cart_container
            div.cart_img
                img(src="", alt="contenedor")
                p #{numItem}