html
    head
        title= title 
        link(rel="stylesheet", href="./Css/style.css")
    body.body 
        nav.nav
            a(href="#") Enlace1
            a(href="#") Enlace2
            a(href="#") Enlace3
            a(href="#") Enlace4 
        main.main
            h1.h1 Primer Rendering en Pug 
        footer.footer
            p.p Todos los derechos reservados  
