extends layout/main-layout.pug
block Main
    h1(class ="text-red-900") #{pagina}

//-
    div.register_container
        form(class= "p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex flex-col justify-around items-center space-x-8" action="/usuario/login" method="POST")
            h3 Datos de inicio de sesion
            div.inicio_sesion
                label(for="username") Username
                input(type="text", name="username")
                label(for="password") Password
                input(type="password", name="password")
                input(type="submit", name="boton" value="Logearse")
            div.register_message
                p.message_reg #{error}
//-